@model Models.Client

@{
    ViewData["Title"] = "ClientProfile";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}
<body>


    <div class="card">
        <img src="~/images/Ninja.png" alt="John" style="width:100%">
        <h1>@Html.DisplayFor(model => model.UserFirstName) @Html.DisplayFor(model => model.UserLastName)</h1>
        <h1>@Html.DisplayFor(model => model.Email)</h1>
        <p class="title">@Html.DisplayFor(model => model.Phone)</p>
        <p>@Html.DisplayFor(model => model.Street)</p>
        <p>@Html.DisplayFor(model => model.City)</p>
        <p>@Html.DisplayFor(model => model.State)</p>
        <p>@Html.DisplayFor(model => model.PostalCode)</p>

        <div style="margin: 24px 0;">
            <a href="#"><i class="fa fa-dribbble"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a class="Delet" asp-area="" asp-controller="Client" asp-action="DeletAccount">Delet account</a>
        </div>
        <p><button onclick="location.href='/Client/EditClientProfile'">Editie Profile</button></p>
        
</body>


    </div>
<style>
    .Delet
    {
        color : red;
    }


    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        max-width: 300px;
        margin: auto;
        text-align: center;
        font-family: arial;
    }

    .title {
        color: grey;
        font-size: 18px;
    }

    button {
        border: none;
        outline: 0;
        display: inline-block;
        padding: 8px;
        color: white;
        background-color: #000;
        text-align: center;
        cursor: pointer;
        width: 100%;
        font-size: 18px;
    }

    a {
        text-decoration: none;
        font-size: 22px;
        color: black;
    }

        button:hover, a:hover {
            opacity: 0.7;
        }
</style>